<!-- TODO Make this take the correct id -->
{% extends "action_buttons/base.html" %} {% block action_buttons %}
<a href="/edit/{{note.id}}" class="btn btn-primary" data-edit-link=""> Edit </a>
<form
  action="/note/{{note.id}}/delete"
  method="POST"
  class="inline"
  onsubmit="return confirm('Are you sure you want to delete this note?');"
>
  <input
    type="hidden"
    name="csrf_token"
    value="ImYwNWFmMmE2ODEwZjIxNGI3ODAxZmM4ZjA3MWMyMWJmNmU2YmRlZjQi.Z0LTNw.uCCLmlztM7605G0ob83kLQW3LhY"
  />
  <button type="submit" class="btn btn-error">Delete</button>
</form>

{% endblock %}


