<footer class="footer bg-base-200 text-base-content p-10">
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-8"
  >
    <aside>
      {# TODO should this be a url_for? #}
      <img
        src="/static/media/logo.png" alt="Logo"
        class="w-20 h-20 mb-2"
        alt="Logo"
      />
      <p class="text-sm">Structured thinking since 2024</p>
    </aside>
    <nav>
      <h6 class="footer-title">Backlinks</h6>
      <ul class="space-y-1">
        {% if backlinks %} {% for backlink in backlinks %}
        <li>
          <a
            href="/note/{{ backlink.id }}"
            class="link link-hover"
            >{{ backlink.title }}</a
          >
        </li>
        {% endfor %} {% else %}
        <li>No backlinks found</li>
        {% endif %}
      </ul>
    </nav>
    <nav>
      <h6 class="footer-title">Forward Links</h6>
      <ul class="space-y-1">
        {% if forwardlinks %} {% for link in forwardlinks %}
        <li>
          <a
            href="/note/{{ link.id }}"
            class="link link-hover"
            >{{ link.title }}</a
          >
        </li>
        {% endfor %} {% else %}
        <li>No links found</li>
        {% endif %}
      </ul>
    </nav>
    <nav>
      <h6 class="footer-title">Tags</h6>
      <ul class="space-y-1">
        {% if tags %} {% for tag in tags %}
        <li>
          <a
            href="/tags/{{ tag.id }}"
            class="link link-hover"
            >{{ tag.name }}</a
          >
        </li>
        {% endfor %} {% else %}
        <li>No Tags found</li>
        {% endif %}
      </ul>
    </nav>
    <nav>
      <h6 class="footer-title">Similar Notes</h6>
      <ul class="space-y-1">
        {% if similar_notes %} {% for note in similar_notes %}
        <li>
          <a
            href="/note/{{ note.id }}"
            class="link link-hover"
            >{{ note.title }}</a
          >
        </li>
        {% endfor %} {% else %}
        <li>No Similar Notes found</li>
        {% endif %}
      </ul>
    </nav>
  </div>
</footer>
