{% extends "breadcrumbs/base.html" %}

{% block content %}
{% if breadcrumbs is defined %}
    <ul class="flex flex-wrap items-center gap-2">
        {% for note_metadata in breadcrumbs[:-1] %}
        <li>
            <a
                    href="/note/{{note_metadata.id}}"
                class="text-primary hover:text-primary-focus hover:underline"
            >
            {{note_metadata.title}}
            </a>
        </li>
        <span>/</span>
    {% endfor %}
    <li class="text-gray-600 font-semibold">{{ breadcrumbs[-1].title }}</li>
    </ul>
{% else %}
{% endif %}
{% endblock %}
