{% extends "base.html" %}
{% block body %}
    {% include 'navbar/base.html'%}
    <main>
      <div class="drawer lg:drawer-open">
        <input id="pages-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col items-center justify-start">
          {% include 'breadcrumbs/breadcrumbs.html' %}

          {% include 'flash.html' %}

          <div class="container mx-auto px-2 py-8">
            <!-- Page content here -->
            {% block content %}
            {% endblock %}
          </div>
        </div>
        <div class="drawer-side">
          <label
            for="pages-drawer"
            aria-label="close sidebar"
            class="drawer-overlay"
          ></label>
          <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
            <!-- Sidebar content here -->
            <div class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
              <!-- Sidebar content here -->
              {% if tree is defined %}
                  {% include 'body/pagination.html' %}
                  {{ tree[current_page - 1] | safe }}
              {% endif %}
            </div>
          </ul>
        </div>
      </div>

      {% include 'tag_drawer.html' %}
      {% include 'katex/katex_js.html' %}
    </main>
{%endblock%}
