{% macro render_node(node, parent_ids) %}
    {% if note.id == node.id %}
        <li class="note-item bg-blue-100 text-blue-800 rounded-md" draggable="true" data-note-id="{{  node.id  }}">
    {% else %}
        <li class="note-item" draggable="true" data-note-id="{{  node.id  }}">
    {% endif %}
    <details {% if node.id in parent_ids or note.id == node.id %}open {% set parent_ids = parent_ids + [node.id] %}{% else %} open{% endif %}>
      <summary {% if note.id == node.id %} class="font-semibold"  {% endif %}>
        <a href="/note/{{ node.id }}">{{ node.title }}</a>
      </summary>
    {% if node.children and node.children | length > 0 %}
      <ul>
        {% for child in node.children %}
          {{ render_node(child, parent_ids) }}
        {% endfor %}
      </ul>
    {% endif %}
    </details>
  </li>
{% endmacro %}

<ul class="menu bg-base-200 rounded-box w-full md:w-56">
  {% set parent_ids = [] %}
  {% for crumb in breadcrumbs %}
    {% set parent_ids = parent_ids + [crumb.id] %}
  {% endfor %}
  {% for node in tree %}
    {{ render_node(node, parent_ids) }}
  {% endfor %}
</ul>
