{% extends "body/base.html" %}
{% block content %}


<!--- Scripts --->
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
  </script>
<script
    src="https://cdn.datatables.net/2.0.6/js/dataTables.jqueryui.min.js">
    </script>
<script
    src="https://cdn.datatables.net/2.0.6/js/dataTables.min.js">
    </script>
<script>
    $(document).ready(function() {
        $('.dataTablesContainer table').DataTable({
            pageLength: 50 // Number of rows
        });
    });
    </script>

<!--- Styles --->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.6/css/dataTables.jqueryui.min.css">


<div class="container mx-auto px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Recent Pages</h1>
  </div>
  <div class="dataTablesContainer">
  <table id="example" class="table w-full">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Created At</th>
        <th>Modified At</th>
      </tr>
    </thead>
    <tbody>
      {% for note in recent_notes %}
      <tr>
        <td>{{ note.id }}</td>
        <td>
          <a href="/note/{{ note.id }}" class="link"
            >{{ note.title }}</a
          >
        </td>
        {# TODO Create Filter function for dates #}
        <td>{{ note.created_at }}</td>
        <td>{{ note.modified_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %} {% block sidebar %} {{ tree_html }} {% endblock %}
