<div class="navbar bg-base-100">
  <div class="navbar-start">
    <label for="pages-drawer" class="btn btn-square btn-ghost lg:hidden">
      {% include 'icons/menu.html' %}
    </label>
    <!-- TODO This must be linked to content -->
    {% include 'search_bar.html' %}
  </div>
  <div class="navbar-center hidden lg:flex">
    {% if note is defined %} {% if note.title is defined and note.title and
    note.id is defined and note.id %}
    <a href="/note/{{note.id}}" class="btn btn-ghost text-xl">
      {{ note.title }} <span class="text-sm ml-2">#{{ note.id }}</span>
    </a>
    {% else %}
    <span class="btn btn-ghost text-xl">New Note</span>
    {% endif %} {% endif %}
  </div>
  <div class="navbar-end"></div>
  {% include 'navbar/right_navbar_button.html' %}
</div>
<!-- END_NAVBAR -->
