<div class="flex-none">
  <ul class="menu menu-horizontal px-1 flex-wrap gap-2">
    <!-- Actions Dropdown -->
    <li>
      <details class="dropdown dropdown-end">
        <summary class="btn btn-ghost btn-sm normal-case">
          {% include 'actions_icon.html' %}
          <!-- Actions Menu Item -->
        </summary>
        <ul
          class="dropdown-content z-[1] menu p-2 shadow-lg bg-base-200 rounded-box w-52"
        >
          {% if note %} {{ menu_item(c("/edit/", note.id), "Edit") |safe}} {{
          menu_item(c("/create/", note.id), "New Subpage") |safe}} {{
          menu_item(c(c("/note/", note.id), "move"), "Move") |safe}} {{
          menu_item(c("/manage_tags/", note.id), "Assign Tags") |safe}} {{
          menu_item(c("/manage_tags/", note.id), "Assign Tags") |safe}} {% endif
          %} {{ menu_item("/create", "Create") |safe}} {{ menu_item("/recent",
          "Recent") |safe}} {% if note %}
          <li>
            <form
              action="/note/{note.id}/delete"
              method="POST"
              class="w-full"
              onsubmit="return confirm('Are you sure you want to delete this note? This action cannot be undone.');"
            >
              {% include 'csrf_token.html' %}
              <button
                type="submit"
                class="btn btn-ghost btn-sm justify-start w-full text-left"
              >
                Delete Note
              </button>
            </form>
          </li>
          {% endif %}
          <li>
            <a
              href="/manage_tags/{{note.id}}"
              class="btn btn-ghost btn-sm justify-start"
              >Manage Tags</a
            >
          </li>
          <li>
            <details class="dropdown dropdown-end">
              <summary class="btn btn-ghost btn-sm justify-start">
                Assets
              </summary>
              <ul
                class="dropdown-content menu shadow-lg bg-base-200 rounded-box p-2"
              >
                <li>
                  <a
                    href="/upload_asset"
                    class="btn btn-ghost btn-sm justify-start"
                    >Upload Asset</a
                  >
                </li>
                <li>
                  <a href="/assets" class="btn btn-ghost btn-sm justify-start"
                    >View Assets</a
                  >
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </details>
    </li>

    <!-- Tags Button -->
    <li>
      <label for="tag-drawer" class="btn btn-ghost btn-sm normal-case">
        {% include 'tag_icon.html' %}
      </label>
    </li>

    <!-- Themes Dropdown -->
    <li>
      <details class="dropdown dropdown-end">
        <summary class="btn btn-ghost btn-sm normal-case">
          {% include 'theme_icon.html' %}
        </summary>
        {% include 'theme_controller.html' %}
      </details>
    </li>
  </ul>
</div>
