<div class="container mx-auto px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Assets</h1>
  </div>
  <div class="dataTablesContainer">
    <table id="example" class="table w-full">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Created At</th>
          <th>Modified At</th>
        </tr>
      </thead>
      <tbody>
        {% for asset in assets %}
        <tr>
          <td>{{ note.id }}</td>
          <td>
            <a href="/m/{{ asset.location }}" class="link">{{ asset.location }}</a>
          </td>
          <td>{{ note.created_at | datetime }}</td>
          <td>{{ note.modified_at | datetime }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
