<!-- Datatables -->
<link rel="stylesheet" href="/static/css/dataTables.dataTables.min.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/dataTables.js"></script>
<script>
    $(document).ready(function() {
        // Check if table is already initialized
        if (!$.fn.DataTable.isDataTable('.dataTablesContainer table')) {
            $('.dataTablesContainer table').DataTable({
                pageLength: 50, // Number of rows
                ordering: false // Disable default sorting
            });
        }
    });
</script>
