{% if flash %}
  <div class="w-full max-w-screen-xl mx-auto px-4 mt-4">
    <div class="alert alert-{{ flash.kind }} shadow-lg">
      <div>
        {% if flash.kind == "success" %}
            {% include 'icons/check_circle.html' %}
        {% elif flash.kind == "error" %}
            {% include 'icons/x_circle.html' %}
        {% elif flash.kind == "warning" %}
            {% include 'icons/exclamation_circle.html' %}
        {% elif flash.kind == "info" %}
            {% include 'icons/info_circle.html' %}
        {% endif %}
        <span>{{ flash.message }}</span>
      </div>
    </div>
  </div>
{% endif %}
