<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% if note is defined %}
  {% if note.title is defined and note.title %}
    <title>{{ note.title }}</title>
  {% else %}
    <title>Untitled Note</title>
  {% endif %}
{% endif %}
<!-- Include the Stylesheet for the Markdown -->
<link rel="stylesheet" href="/static/css/markdown.css" />
<link rel="stylesheet" href="/static/css/code.css" />
<link rel="stylesheet" href="/static/css/text_edit.css" />
<link rel="stylesheet" href="/static/css/tailwind.css" />
<link rel="stylesheet" href="/static/css/notes-dnd.css" />
{% include 'katex/katex_css.html' %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
